
# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Using Markdown for ordering tools, languages within Jupyter Notebooks.
- Understanding the basics of arithmetic expressions in Python.
- Providing examples of popular programming environments used in Data Science.
- Conversion from minutes to hours

Some of the popular languages that Data Scientists use are:
1. Python 
2. R 
3. Julia
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas 
2. SciPy 
3. NumPy 
4. Tensorflow

| Data Science Tools |
|-----------------|
|Apache Spark|
|RStudio|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
BHARATH